@charset "utf-8";
/* CSS Document */

body
{
	
	
	background: 
		url("Images/bg/Toy_4.png"),
		url("Images/bg/Toy_3.png"),
		url("Images/bg/Toy_2.png"),
		url("Images/bg/Toy_1.png");
	
	background-size: 100vh;
	background-position: bottom, bottom, bottom, bottom;
	background-repeat: repeat-x, repeat-x, repeat-x, repeat;
	
	height: 100vh;
	
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #323232;
}

.content
{
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 32px;

    text-align: center;

    padding-bottom: 16px;
}

.main
{
	margin: 10px, 10px, 10px, 10px;
	
    background-color: white;
    border-radius: 16px 16px;
	
	min-height: 90vh;
}